opt/src/main/xsd/CharacterMapping.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="CharacterMapping" targetNamespace="http://oceaninformatics.com/CharacterMapping.xsd"
           elementFormDefault="qualified" xmlns="http://oceaninformatics.com/CharacterMapping.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Char">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="Text" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>